name: Trigger auto deployment for presenton

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/presenton-AutoDeployTrigger-f05168b9-ed78-4266-b42b-a65c6f6a38d7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.PRESENTON_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.PRESENTON_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.PRESENTON_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: presentonregistry.azurecr.io
          registryUsername: ${{ secrets.PRESENTON_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.PRESENTON_REGISTRY_PASSWORD }}
          containerAppName: presenton
          resourceGroup: PresentonPPT
          imageToBuild: presentonregistry.azurecr.io/presenton:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


